@use 'src/styles/vars';

.annuaireForm{
    margin-top: 100px;
    margin-left: 350px;
    margin-bottom: vars.$gutter * 2;
    .form__row{
        .form__group{
            .form__control{
                background-color: vars.$main-color;
            }
        }
    }
};

.remember{
    color: white;
    margin-right: 50px;
};

.btn_submit{
    background-color: transparent;
    border: 1px solid vars.$main-color;
    width: 100%;
    height: 30px;
    padding: 0;
    align-items: center;
    &:focus{
        outline: none;
        box-shadow: none;
        background-color: vars.$main-color;
    }
    &:hover{
        box-shadow: 0px 3px 6px vars.$main-color;
        background-color: vars.$main-color;
        border: vars.$main-color;
    }
}

.form-row{
    margin-right: 50px;
    };  



@media screen and (max-width: 768px) {
    .annuaireForm{
      margin-left: vars.$gutter;
      margin-right: vars.$gutter;
      margin-top: 70px;
    };

    .button_form{
    margin-right: 100px;
    };  

    .remember{
        color: white;
    }; 
    .ctrl_form{
        width: 100%;
    }
  };