@use 'src/styles/vars';

.cardGames{
  margin-top: 150px;
  margin-bottom: vars.$gutter * 2;
  .card{
    box-shadow: 3px 3px 8px white;
    border: none;
    position: relative;
    
    &-body{
      .card-subtitle{
        font-style: italic;
        font-size: 14px;
        font-weight: vars.$ft-light;
      }
      p{
        margin-top: vars.$gutter;
      }
      .profileGame{
        display: flex;
        .img_plat{
          height: 20px;
          width: 20px;
          margin-right: vars.$gutter;
          .rounded{
            width: 20%;
            height: 20%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cardProfile{
    margin-left: vars.$gutter;
    margin-top: 180px;
  }
}
