/* -------------
    COLORS
--------------*/
$main-color: #921ECC;
$bg-color: #1B2028;
$succes-color: #10CB1A;
$error-color: #F60714;
$neutral-color: #F35809;

/* -------------
      TYPO
--------------*/
$font: 'Montserrat', sans-serif;
$ft-light: 300;
$ft-regular: 400;
$ft-medium: 500;
$ft-bold: 700;

/* -------------
    GUTTERS
--------------*/

$gutter: 1rem;
