@use 'src/styles/vars';
.pages{
  z-index: -99;
  .BrainhubCarousel__container{
    margin-left: 200px;
    width: auto;
    .BrainhubCarousel{
      .BrainhubCarousel__trackContainer{
        ul{
          width: 1080px;
          .BrainhubCarouselItem{
            width: 350px !important;
            max-width: 350px !important;
            min-width: 350px !important;
          }
        }
      }
    }
  }
  .title{
    margin-top: vars.$gutter;
    margin-left: 350px;
    color: white;
  }
  &__title{
    margin-top: 150px;
    // margin-left: 350px;
    color: white;
    &--top{
      margin-top: 150px;
      margin-left: 350px;
      color: white;
    }
  }
}


.title_pages2{
    margin-top: 80px;
    margin-left: 350px;
    color: white;
}

@media screen and (max-width: 768px) {
    .title_pages{
      margin-left: vars.$gutter;
      color: white;
    }

    .title_pages2{
        margin-left: vars.$gutter;
        color: white;
      }
  };
