@use 'src/styles/vars';

.header{
  position: relative;

  &__title {
    color: whitesmoke;
    font-weight: vars.$ft-bold;
    position: relative; 
    left: 27rem;
    top: 4rem;
  }

  &__image {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    display: block;
    height: 500px;
    width: 100%;
    top: 0rem;
  }
}

