@use 'src/styles/vars';

.header{
  display: inline;
  position: static;
  top: 0rem;
  left: 0;
  right: 0;

  &__title {
    position: absolute;
    color: whitesmoke;
    background-image: radial-gradient( #921ECC);
    
    border-radius: 3rem;

    padding: 1rem;
    font-weight: vars.$ft-bold;
    left: 27rem;
    top: 10rem;
  }

  &__image {
    position: relative;
    object-fit: cover;
    z-index: -1;
    display: block;
    height: 500px;
    width: 100%;
    top: 0rem;
  }
}

