<h1>Vous avez une nouvelle demande d'ami</h1>
<p>Hello {{ pseudoReceiver }}, </p>
<p>Un nouveau gamer vient de t'ajouter en ami ! </p>
<p>Il s'agit de : {{ pseudoSender }}</p>
<p>Nous t'invitons à te rendre dans ton espace notification pour accepter l'invitation</p>

<p>L'équipe O'Lobby</p>