<h1>Inscription O'Lobby</h1>
<p>
    Hello {{ pseudo }},
    Merci pour ton inscription à O'Lobby !

    Voici un récap de tes infos :
    <ul>
        <li>Pseudo : {{ pseudo }}</li>
        <li>Email : {{ e_mail }}</li>
    </ul>
    Pour te connecter, tu auras besoin de ton email et de ton mot de passe.

    Rends toi dès à présent ici pour finaliser ton profil : 

    L'équipe O'Lobby
</p>