@use 'src/styles/vars';

.maintitle {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: vars.$ft-bold;
  color: white;
  text-decoration: vars.$main-color underline;
}
