{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<span class="mr-2">Bienvenue invité</span>
                    <a href="{{ path('app_register') }}" class="btn btn-success">Inscription</a>



{% for user in users %} 
    <h2>{{ user.pseudo }}</h2>
{% endfor %}

{% endblock %}
