@use 'src/styles/vars';

.section 
{
  margin-top: vars.$gutter * 4;
  &__title {
    color: whitesmoke;
    font-weight: vars.$ft-bold;
    
  }

  &__paragraph {
    display: inline;
    color: vars.$main-color;
    font-weight: vars.$ft-regular;
  }

  &__img{
    height: 330px;
    &__image1 {
      object-fit: cover;
      width:100%;
      height: 100%;
    }
  }
}
