@use 'src/styles/vars';

.header{
  position: static;
  top: 0rem;
  left: 0;
  right: 0;
  background-color: rgba(vars.$bg-color, 0.5);
  // opacity: 0.2;

  &__title {
    position: absolute;
    color: whitesmoke;
    padding: 0.8rem;
    font-weight: vars.$ft-bold;
    left: 27rem;
    top: 10rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    &__span{
      font-size: 16px;
      text-transform: initial;
      letter-spacing: initial;
    }
  }

  &__image {
    position: relative;
    object-fit: cover;
    z-index: -1;
    display: block;
    height: 500px;
    width: 100%;
    top: 0rem;
  }
}

