@use 'src/styles/vars';

.devs{
  position: relative;
  margin-bottom: 10rem;

  &__title {
    position: relative;
    left: 31rem;
    color: white;
    font-size: 2rem;
    font-weight: vars.$ft-bold;
  }

  &__image1 {
    size: 300px;
    margin-bottom: 1.5rem;
  }

  &__devname1{
    position: relative;
    left: 6rem;
    color: white;
    font-weight: vars.$ft-bold;
    font-size: 1.6rem;
  } 

  &__devdescription1{
    font-size: 1.1rem;
    color: vars.$main-color;
    text-align: center;
  }
}
