@use 'src/styles/vars';
.footer{
  color: white;
  padding-top: 3em;
  width: 100%;
  border-top: 2px solid vars.$main-color;
  .navbar {
    width: 100%;
    .navbar-nav{
      .nav-link{
        color: white;
        transition: ease-in-out 0.3s;
        &:hover{
          color:vars.$main-color;
          transition: ease-in-out 0.3s;
        }
      }
      .active{
        color:vars.$main-color;
      }
    }
  }
  .copyright{
    text-align: center;
    margin-bottom: vars.$gutter;
  }
}
