@use 'src/styles/vars';
.footer{
  position: relative;
  left: 27rem;
  color: white;
  padding-top: 3em;
  //width: 100%;
  border-top: 2px solid vars.$main-color;
  z-index: -99;
  margin-left: 280px;
  .navbar {
    
    width: 100%;
    .navbar-nav{
      .nav-link{
        position: relative;
        left: 4rem;
        color: white;
        transition: ease-in-out 0.3s;
        &:hover{
          color:vars.$main-color;
          transition: ease-in-out 0.3s;
        }
      }
      .active{
        color:vars.$main-color;
      }
    }
  }
  .copyright{
    text-align: center;
    margin-bottom: vars.$gutter;
  }
}

@media screen and (max-width: 768px) {
  .footer{
    margin-left: vars.$gutter;
    //margin-top: 180px;
  }
}
