@use 'src/styles/vars';

.header{
  position: relative;

  &__title {
    color: vars.$main-color;
    font-weight: vars.$ft-bold;
    position: relative; 
    left: 27rem;
    top: 6rem;
  }

  &__image {
    position: absolute;
    z-index: -1;
    display: block;
    max-width: 50%;
    top: 5rem;
    left: 21rem;
  }
}
